# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/

# Arduino
arduino-cli/
*.elf
*.hex
*.bin
!flash_header.bin

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
device-backups/
lamp_config.json
*.log
latest
